.card{
  position: relative;
  width: 600px;
  padding: 20px;
  max-width: 60vw;
  height: 50vh;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  box-shadow: 0 20px 25px 0 #a47e4a;
}
    
.card h3 {
    position: absolute;
    bottom: 10px;
    color: white;
}   

.cardPet__container{
    display: flex;
    margin-top: 5vh;
    justify-content: center;
   
}


.swipe { 
    position: absolute;

}

/* Pour les écrans d'iPad en mode paysage et portrait */
@media (min-width: 768px) {
.card {
    width: 350px;
    max-width: 60vw;
    height: 50vh;
      
    
  }

  
}

/* Pour les écrans d'ordinateur de bureau et d'ordinateur portable */
@media (min-width: 1024px) {
    .card {
      width: 300px;
      max-width: 30vw;
      height: 50vh;
      
      
    }
  
    
  }
  
  
