.card{
  position: relative;
  width: 500px;
  padding: 20px;
  max-width: 60vw;
  height: 40vh;
  margin-top: 5vh;
  background-size: cover;
  background-position: center;
  border-radius: 45px;
  box-shadow: inset 0px 0px 43px -3px rgba(0,0,0,0.1),0px 13px 20px -5px #a47e4a;

}
    


.cardPet__container{
    display: flex;
    margin-top: 10vh;
    justify-content: center;
   
}




.swipe { 
    position:absolute;

}

/* Pour les écrans d'iPad en mode paysage et portrait */
@media (min-width: 768px) {
.card {
    width: 350px;
    max-width: 60vw;
    height: 50vh;
    box-shadow: inset 0px 0px 43px -3px rgba(0,0,0,0.1),0px 13px 20px -5px #a47e4a; 
    
  }

  
}

/* Pour les écrans d'ordinateur de bureau et d'ordinateur portable */
@media (min-width: 1024px) {
    .card {
      width: 300px;
      max-width: 50vw;
      height: 50vh;
      margin-top: 10vh;
      
      overflow: hidden;
    }
  
    
  }
  
  
